*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.active-link{
    color: #7B66FF;
}

a:visited{
    color: inherit;
}

body{
    line-height: 1.625em;
}