
.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 0.5px solid rgba(59, 58, 58, 0.369);
    /* background-color: #F3F1FF; */
}

.logo{
    display: flex;
    align-items: center;
}

.logo > svg{
    width: 25px;
    padding-right: 10px;
    color: #7B66FF;
}
.logo > h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}

/* Ndryshojme display te divit login-button ne flex per te bere center buttonin
dhe te jete ne te njejten vije ne header */
.login-button{
    display: flex;
    align-items: center;
}

.login-button > input{
    background-color: #7B66FF;
    outline: none;
    border: none;
    color: white;
    width: 97px;
    height: 35px
}


/* Ndryshojme style te listat */
/* Importojme fontin qe deshirojme te perdorim ne listat */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    
}

ul > li{
    padding: 10px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Slider */

.container-slider{
    display: flex;
    background: url(../assets/images/background2.jpg) no-repeat center center;
    background-size: cover;
    height: 55vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.container-slider > p, h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 25px;
    
}

.container-slider > h1{
    font-weight: 400;
    font-size: 50px;
}

.container-slider > p{
    font-size: 25px;
    color: #7B66FF;
}

/* .inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 40%;
    gap: 5px;
} */

.container-slider> .p-black{
    color: black;
    font-size: large;    
}










/* Container companies */


.container-companies{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.trusted-companies{
    color: #484b62;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 1px;

}

.container-companies > div > img{
    padding: 0 40px 0 40px;
    margin-top: 25px;
}

.container-companies > .job-cards{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.job-cards svg{
    border-radius: 5px;
    
}

.cards{
    border-radius:5px;
    width: 347px;
    border: 0.5px solid rgb(173, 171, 171);
    text-wrap: wrap;
    padding: 25px 0 0 25px;
}



.cards > #company-title{
    color: #a0a2b3;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.cards > h4{
    margin: 0;
    font-size: 18px;
}

.cards > p{
    color: #484b62;
    margin: 5px 0 0 0;
}





.google-card > svg{
    border: 0.5px solid rgba(192, 189, 189, 0.539) ;
    border-radius: 5px;
}
















