


/* Colors : 
    #7B66FF per Sign in edhe butona (pothuajse e Vjollce)
*/

/* HERO SECTION */


.hero-aboutus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 40vh;
    background-color: #faf9fc;
}

.hero-aboutus > .inner-hero{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.inner-hero > h1,
.inner-hero > p{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inner-hero > h1{
    font-size: 36px;
    color: #232535;
    margin-bottom: 16px;
}

.inner-hero > p{
    color: #484B62;
    margin: 20px 0 16px 0;
    width: 90%;
    align-self: center;
}
/* -------------------------------------------- */




/* Buttonat ne Hero */

#buttonat > form > input{
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}

#buttonat > form:first-child > input:first-child{
    color: white;
    background-color: #7B66FF;
    border: 0;
    outline: none;
}

#buttonat > form >  input:last-child{
    background-color: white;
    color: black;
    border: 0.5px solid lightgrey;
}

.inner-hero > #buttonat{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* -------------------------------------------- */


/* Our Numbers */

.Our-Numbers{
    display: flex;
    justify-content: center;
}

.Our-Numbers > .display{
    width: 80%;
    margin-top: 50px;
}

.Our-Numbers  > .display > h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #232535;
    text-align: center;
    margin-bottom: 55px;
}


.Numbers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
}

.Numbers  h1{
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 36px;
    margin: 0px  0px 4px;
    padding: 10px 25px ;
    color: #232535;
}
.Numbers span{
    color:#7B66FF;
    padding-left: 2px;
    font-weight: 600;
    align-self: center;
}

.Numbers p {
    text-align: center;
    color:#a0a2b3;
    letter-spacing: .06em;
    font-size: 12px;
    line-height: 1.25em;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}


.Our-Numbers hr{
    margin-top: 80px;
    border:0.7px solid lightgrey;
}
/* -------------------------------------------- */



/* Our Values Section */

.our-values{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.our-values > .our-values-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin-top: 50px;
}

.our-values-container > hr{
    margin-top: 80px;
    border:0.7px solid lightgrey;
}

.our-values-title > h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #232535;
    font-weight: 600; /* Semi bold font*/
    margin-bottom: 16px;
}



.our-values-title > p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #7B66FF;
    font-size: 16px;
}


/* CARDS */
/* -------------------------------------------- */

.our-values-cards{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}
.our-values-cards > .values{
    width: 30%;
    text-wrap: wrap;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
}

.values > svg{
    margin-bottom: 10px;
}
.values  >h4{
    font-size: large;
    font-weight: 400;
    margin-bottom: 10px;
}
.values > p{
    color: #a0a2b3;
}
/* -------------------------------------------- */

/* FOOTER */
footer{
    margin-top: 100px;
}
/* -------------------------------------------- */

/* Media Queries */


@media only screen and (max-width:600px){
    .inner-hero > h1{
        padding-top: 30px;
    }
    .inner-hero{
        flex-basis: 100%;
    }

    .our-values-cards{
        flex-wrap: wrap;
    }

    .our-values-cards > .values{
        width: 100%;
    }

}

